  {% extends 'index.html' %}
{% load static %}

{% block titulo %}
  Biblioteca.dev | Listado de Usuarios
{% endblock titulo %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/lib/datatable/dataTables.bootstrap.min.css' %}">
{% endblock extra_css %}
{% block body %}

      <div class="card">
          <div class="card-header">
              <strong class="card-title">Listado de Usuarios</strong>
          </div>
          <div class="table-stats order-table ov-h">
              <table id="tabla_usuarios" class="table">
                  <thead>
                      <tr>
                        <th>#</th>
                        <th>Username</th>
                        <th>Nombre</th>
                        <th>Apellidos</th>
                        <th>Correo</th>
                        <th>Opciones</th>
                      </tr>
                  </thead>
                  <tbody>

                  </tbody>
              </table>
          </div>
      </div>

{% endblock body %}
{% block extrajs %}
<script src="{% static 'js/usuarios/index.js' %}"></script>
<script src="{% static 'js/lib/data-table/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/lib/data-table/dataTables.bootstrap.min.js' %}"></script>
{% endblock extrajs%}